.item-bill{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.background-logo{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}