.side-bar{
    width: 270px;
    height: 850px;
    padding: 1.7rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.side-bar p{
    font-size: 24px;
    font-weight: bold;
    padding: 0 1.7rem;
}

.side-bar button:nth-child(2) {
    width: 225px;
    height: 37px;
    margin: 23px;
    border: none;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #00aa70;
    cursor: pointer;
}

.side-bar input:nth-child(3){
    width: 225px;
    height: 38px;
    margin: 19px;
    border-radius: 5px;
}

.side-bar span{
    margin: 20px 20px 10px 20px
}

.side-bar select{
    width: 225px;
    height: 38px;
    margin: 0px 20px 0px 20px;
    border-radius: 5px;
}